@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* spacing: {
  '2': '0.125rem',   // 2px
  '4': '0.25rem',    // 4px
  '8': '0.5rem',     // 8px
  '12': '0.75rem',   // 12px
  '16': '1rem',      // 16px
  '24': '1.5rem',    // 24px
  '32': '2rem',      // 32px
  '48': '3rem',      // 48px
  '64': '4rem',      // 64px
  '80': '5rem',      // 80px
  '96': '6rem',      // 96px
  '128': '8rem',     // 128px
},
fontSize: {
  '10': '0.625rem',  // 10px
  '12': '0.75rem',   // 12px
  '14': '0.875rem',  // 14px
  '16': '1rem',      // 16px
  '18': '1.125rem',  // 18px
  '20': '1.25rem',   // 20px
  '24': '1.5rem',    // 24px
  '30': '1.875rem',  // 30px
  '36': '2.25rem',   // 36px
  '44': '2.75rem',   // 44px
  '52': '3.25rem',   // 52px
  '62': '3.875rem',  // 62px
  '74': '4.625rem',  // 74px
  '86': '5.375rem',  // 86px
  '98': '6.125rem',  // 98px
}, */

@layer base {
  * {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }

  html {
    overflow: hidden; /* Prevent scrolling on the page */
    height: 100vh; /* Full height */
  }

  /* li :hover,
  li :active {
    background-color: #030508;
    border-radius: 115px;
    display: block;
  } */
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@layer components {
  /* //section: 404 Page*/
  .NotFound-page-container {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.1)),
      url(https://images.unsplash.com/photo-1650692201357-3b1b15469952?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
  }

  .h1-NouFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* //section: Login Page*/
  .login-page-container {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.1)),
      url(/assets/caught-in-joy-ptVBlniJi50-unsplash.jpg);
    background-size: cover;
  }

  .login-form {
    margin: 0 auto;
    width: 40%;
    height: 70%;
    background-color: theme(colors.background-black);
    transform: translateY(25%);
    border-radius: 20px;
    opacity: 80%;
    color: white;
    text-align: center;
  }

  .input-top {
    margin: 0 auto;
  }
  .input-bottom {
    margin: 0 auto;
  }

  /* //section: Signup Page*/

  .signup-page-container {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.1)),
      url(https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
  }

  .signup-form {
    margin: 0 auto;
    width: 40%;
    height: 85%;
    background-color: theme(colors.background-black);
    transform: translateY(10%);
    border-radius: 20px;
    opacity: 80%;
    color: white;
    text-align: center;
  }

  /* //section: Sidebar */

  .logo {
    height: 13%;
  }

  .buttons-container {
    @apply font-semibold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 87%;
  }

  .buttons-top-container {
    display: flex;
    flex-direction: column;
    height: 75%;
    /* align-items: center; */
  }

  .buttons-bottom-container {
    @apply font-semibold;
    display: flex;
    flex-direction: column;
    height: 25%;
    /* align-items: center; */
  }

  .top-button-item-container {
    display: flex;
    gap: 1.125rem;
    margin-bottom: 1.125rem;
    padding: 1rem 2rem;
    width: 90%;
    align-items: center;
    /* margin-left: 12.225px; */
    margin-left: 0.75rem;
    transition: all 0.3s;
  }

  .bottom-button-item-container {
    display: flex;
    gap: 1.125rem;

    padding: 1rem 2rem;
    width: 90%;
    align-items: center;
    /* margin-left: 12.225px; */
    margin-left: 0.75rem;
  }

  /* //section: Middle Contetnt */
  .your-progress-container {
    height: 18%;
    width: 100%;
    /* padding: 12px; */
  }

  .middle-images {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.625rem;
  }

  .img-container {
    width: 45%;
    height: 45%;
  }
  .img-container img {
    width: 100%;
    border-radius: 50%;
  }

  .divider {
    height: 0.125rem; /* Thickness of the divider */
    width: 98%;
    background-color: #374151; /* Color of the divider */
    opacity: 40%;
    display: block;
  }

  .vertical-divider {
    padding-top: 0.75rem;
    height: 85%; /* Full height of the parent container */
    width: 0.125rem; /* Thickness of the divider */
    background-color: #374151; /* Color of the divider */
    margin: 6.25rem 0; /* Horizontal spacing */
    opacity: 40%;
  }

  .skill-assesment-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    height: 15%;

    margin-left: 2.4359375rem;
    align-items: center;
    justify-items: center;
  }
  .test-knoledge {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .test-button {
    /* transform: translate(0, 50%); */
    transition: all 0.3s;
  }

  .test-button:hover,
  .test-button:active {
    background-color: #3e4450;
  }
}

/* //section: Middle Contetnt Song library */

/* //section: Middle Contetnt Visual Aids */
.scrollable-hidden-scrollbar {
  max-height: 99vh; /* Adjust based on your layout's needs */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollable-hidden-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

@layer utilities {
}
